
body{
    background: color #f5f5f5 ;
    margin: 0;
    padding: 0;
}
main, header {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white; 
    box-sizing:border-box;
}

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
h1, h2, h3{
    font-family: 'Lato', sans-serif;
}
@font-face {
  font-family: "Raleway";
  src: url(../Fonts/Raleway-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
body { 
    font-family: "Raleway", sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    align-items: center;
    background-color: #17abb3; 
    padding: 20px;
}
.header_left img {
    width: 120px; 
    height: 120px; 
    border-radius: 50%; 
    object-fit:cover; 
    border: 3px solid white;
    margin-left: 100px;
}
.header_right {
    flex: 1;
    display: flex;
    flex-direction: column;  
    align-items: center;     
    justify-content: center; 
    margin: 0;                
    text-align: center; 
    color: white;     
}
h1{
    margin-bottom: 0;
    font-weight: 700;
    font-size: 40px;
}
h2{
    font-weight: 600;
    margin-top: 10px;
}
.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.contact-list li {
    display: flex;
    align-items:center;
    font-size: 16px;
    position: relative;
    padding-left: 28px; 
    font-size: smaller;
}


.contact-list li.Mail {
    background: url("../images/Pictograms/mail.png") no-repeat left center;
    background-size: 20px 20px;
    filter: brightness(0) invert(1);
}

.contact-list li.tel {
    background: url("../images/Pictograms/tel.png") no-repeat left center;
    background-size: 20px 20px;
    filter: brightness(0) invert(1);
}

.contact-list li.adresse {
    background: url("../images/Pictograms/adresse.png") no-repeat left center;
    background-size: 20px 20px;
    filter: brightness(0) invert(1);
}

.contact-list li.permis {
    background: url("../images/Pictograms/permis.png") no-repeat left center;
    background-size: 20px 20px;
    filter: brightness(0) invert(1);
}

/* main */
main {
    display: flex;
    flex-direction: row;
}
#main {
    width: 70%;
    order:1;
    padding: 40px;
}
#secondary {
    width: 30%;
    background-color: #eef1f2;
    padding: 40px;
}
h3{
    color: #17abb3;
    font-weight: 400;
    margin: 35px 0 9px;
}
hr {
    border: none;              /* on enlève la bordure par défaut */
    height: 2px;               /* épaisseur */
    background-color: #e3e3e3;   /* couleur */
    margin: 10px 0;            /* espace autour */
}

/* section:main */
.indent{
    text-indent: 30px;
    text-align: justify;
}
.flex_container {
  display: flex;
  justify-content: space-between; /* espace entre gauche et droite */
  align-items: baseline;          /* aligne sur la ligne de base du texte */
  margin-bottom: 20px;            /* un peu d’espace entre les lignes */
}
.title {
    font-weight: bold;
}
.description {
    font-style: italic;
    font-size: smaller;
}
.period{
    color: #17abb3;
}
.skill{
  display: flex;
  flex-direction: row;
  justify-content:space-between; /* espace entre gauche et droite */    
  flex-wrap: wrap;      /* aligne sur la ligne de base du texte */
  margin-bottom: 8px;  
}
.star_filled {
    color: #17abb3;
    -webkit-text-stroke: 1px #17abb3;
}
.star {
    color: transparent;
    -webkit-text-stroke: 1px #17abb3;
}
.skill-name{
    font-weight: bold;
}
.languages {
    font-weight: bold;
}
.flex_languages {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 6px;
}
ul {
  list-style: square;  /* enlève les puces */
  margin: 0;
  padding-left: 20px;   /* retour à la ligne si trop long */
  gap: 10px 20px;    /* espace entre les items */
}

ul li {
  background: #eef1f2;
  padding: 0 10px;
  border-radius: 6px;
}
li::marker {
    font-size: 1.5em;
    color: #17abb3;
}
footer {
    display: flex;
    justify-content:center; 
    align-items: center;
    background-color: #17abb3; 
    padding: 20px;
}
footer img {
  width: 30px;   /* largeur fixée */
  height: 30px;  /* hauteur fixée */
  margin: 0 10px; 
}